
.containerCarousel{
    border: 2px solid #212121;
    border-radius: 2em;
    padding: 0.5em;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 3em;
    background-color: #77dd77;
}

.images{
    border-radius: 2em;
}